{% extends 'base.html' %}

{% block content %}
    <div class="">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>  {{ user }}
        <a href="{% url 'newArticle' %}">New Article</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
    <div class="container">
    {% for article in page_obj %}
        <a href="{%url 'article' article.id %}">{{ article.title }}</a>
        <h3>{{ article.text }}</h3>
        <p>{{ article.author }} {{ article.date_time }}</p>
        {% if article.author == user %}
            <a href="{% url 'edit_article' article.id %}">Edit</a>
            <a href="{% url 'delete_article' article.id %}">Delete </a>
            <br/>
        {% endif %}
    {% endfor %}

    {% for pageNumber in page_obj.paginator.page_range %}
        <a href="?page={{ pageNumber }}">{{ pageNumber }}</a>
    {% endfor %}
    </div>

{% endblock %}